.selfie {
	height: 35%;
	width: 35%;
	padding: 1%;
	margin-top: 10%;
}

hr {
	width: 30%;
	margin-top: 7%;
	margin-bottom: 7%;
}

.introduction {
	background-color: #c3edea;
	/* background-image: url(IMG_9060.JPG); */
	height: 95vh !important;
	color: white;
}

.self-intro {
	padding-bottom: 10px;
}
