.admin-side-bar {
    background-color: '#172733'; 
    color: '#B0B9C0'; 
    height: '100%';
    max-height: '100%'; 
    min-width: '16rem'; 
    position: 'relative';
    left: 0;
    top: 0;
    z-index: 1;
    overflow-x: hidden;
    display: block;

}