.selfie {
	height: 35%;
	width: 35%;
	padding: 1%;
	margin-top: 10%;
}

hr {
	width: 30%;
	margin-top: 7%;
	margin-bottom: 7%;
}

.self-intro {
	padding-bottom: 10px;
}

.full-stack {

	position: absolute;
	z-index: -1;
	color: #4b5d67;
	/* font-size: 270px; */
	font-weight: 900;
	width: 96%;
	height: 100%;
	
}

@media only screen and (max-width: 600px) {
	/* For mobile phones: */
	[class*="full-stack"] {
	  font-size: 80px;
	}
  }

@media only screen and (min-width: 600px) {
	/* For mobile phones: */
	[class*="full-stack"] {
	  font-size: 120px;
	}
  }

  @media only screen and (min-width: 850px) {
	/* For mobile phones: */
	[class*="full-stack"] {
	  font-size: 130px;
	}
  }

  @media only screen and (min-width: 1024px) {
	/* For mobile phones: */
	[class*="full-stack"] {
	  font-size: 150px;
	}
  }

  @media only screen and (min-width: 1200px) {
	/* For mobile phones: */
	[class*="full-stack"] {
	  font-size: 1400%;
	}
  }