.selfie {
	height: 35%;
	width: 35%;
	padding: 1%;
	margin-top: 10%;
}

hr {
	width: 30%;
	margin-top: 7%;
	margin-bottom: 7%;
}

.self-intro {
	padding-bottom: 10px;
}

.full-stack {

	position: absolute;
	z-index: -1;
	color: #4b5d67;
	font-size: 400%;
	font-weight: 900;
	width: 98%;
	height: 100%;



	
}